<% if @my_auctions %><h1>My Auctions</h1><% end %>
<% for auction in @auctions %>
<div class="auction_index_item_wrapper">
  <div class="auction_index_item_left text_center" onclick="void(0)" data-button="true" href="<%= auction_url(auction) %>">
    <%= image_tag auction.item.content_images.first.image.url(:small_thumb) %>
    <div class="auction_index_item_name">
      <strong><%= auction.item.name %></strong>
    </div>
    <div class="auction_index_item_retail">
      <em>retail: <%= auction.item.full_price.format %></em>
    </div>
  </div>
  <div class="auction_index_item_right">
    <div class="auction_index_time">
      <div class="auction_index_time_left" id="time_left_<%= auction.id %>" data-role="time_left" data-id="<%= auction.id %>" data-seconds_left="<%= auction.time_left_in_seconds %>"><%= auction.time_left %></div>
      <div class="auction_index_timer_icon"><%= image_tag '20secTimerIcon.gif' %></div>
    </div>
  	<div class="auction_index_current_bid">
      <div data-push_data_type="current_price" data-push_channel="<%= auction.channel_name %>" class="auction_index_current_price">
    	  <%= auction.current_price.format %>
    	</div>
    	<div data-push_data_type="highest_bidder" data-push_channel="<%= auction.channel_name %>" class="auction_index_current_bidder">
        <%= auction.highest_bidder ? auction.highest_bidder.name : 'no bidders yet' %>
    	</div>
    </div>
    <div class="auction_index_buttons">
      <div class="auction_index_buy_now"<% unless @this_user.bids.available.any? %> style="display:none;"<% end %> data-behavior="place_bid_link" data-auction_id="<%= auction.id %>" href="<%= place_bid_url(:placed_auction_id => auction.id) %>">
        <div class="button_left">&nbsp;</div>
        <div class="button_middle big_font">BID NOW</div>
        <div class="button_right">&nbsp;</div>
      </div>
      <div class="auction_index_buy_now" data-behavior="buy_bids_link" data-auction_id="<%= auction.id %>" <% if @this_user.bids.available.any? %> style="display:none;"<% end %>>
        <div class="button_left">&nbsp;</div>
        <div class="button_middle big_font" data-button="true" href="<%= bids_url %>">BUY CREDITS</div>
        <div class="button_right">&nbsp;</div>
      </div>
      <div class="auction_index_mine">
    		<% if @this_user.auctions.include? @auction %>
          <%= image_tag 'duckfootOn.gif' %>
        <% else %>
          <%= image_tag 'duckfootOff.gif' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div pub-key="pub-ae40e77d-8233-4dd0-8c5a-35fac643b743" sub-key="sub-f902c2fd-b264-11e0-bd90-a39c3d1a4b1e" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>

<%= javascript_tag do %>
	jQuery(document).ready(function(){
		var tick_count = 0;
		var start_time = new Date().getTime();
		var timer_handle = 0;
		jQuery("[data-role='time_left']").each(function(i){
			jQuery(this).data('seconds_left',jQuery(this).attr('data-seconds_left'));
		});
		function updateTimer(){
			jQuery("[data-role='time_left']").each(function(i){
				jQuery(this).html(humanize_interval(secondsLeft(jQuery(this).data('seconds_left'))));
			});
		};
		updateTimer();
		function cycleTimer(){
			tick_count += 1000;
			slew = (new Date().getTime() - start_time) - tick_count;
			jQuery("[data-role='time_left']").each(function(i){
				if(secondsLeft(jQuery(this).data('seconds_left')) == 0){
					closeAuction(jQuery(this));
				};
			});
			updateTimer();
			timer_handle = setTimeout(cycleTimer,(1000 - slew));
		};
		function secondsLeft(seconds_left){
			return seconds_left - (tick_count / 1000);
		};
		function closeAuction(auction_time_left){
//			jQuery('#place_bid_link').hide();
			auction_time_left.html('CLOSED');
			auction_time_left.attr('data-role','no_time_left');
		};
		timer_handle = setTimeout(cycleTimer,1000);
		<% if current_user %>
//		function refreshBidHistory(new_history){
//			jQuery('#bid_history').append(new_history.user + ': ' + new_history.payload.new_price + '<br/>');
//		};
//		hookbox.logging.get('net.protocols.rtjp').setLevel(hookbox.logging.DEBUG);
//		conn = hookbox.connect("<%= HOOKBOX_URL %>");
//		conn.onSubscribed = function(channel_name, subscription) {
//			if(channel_name == "<%# @auction.channel_name %>"){
//				subscription.onPublish = function(frame) {
//					jQuery("[data-id='" + timer_id +"']").data('seconds_left',frame.payload.time_left);
//					refreshBidHistory(frame);
//				};
//	  			for (var i = 0, item; item = subscription.history[i]; ++i) {
//				  	var name = item[0];
//					var frame = item[1];
//					if(name == 'PUBLISH'){
//						refreshBidHistory(frame);
//					}
//			    };
//			}
//		};
//		conn.onClose = function() {
//			alert("Connection Lost, please refresh this page");
//		};
//		conn.subscribe("<%# @auction.channel_name %>");
    function refreshStats(channel_name,message){
    	jQuery("[data-push_data_type='current_price'][data-push_channel='" + channel_name + "']").html(message.new_price);
    	jQuery("[data-push_data_type='highest_bidder'][data-push_channel='" + channel_name + "']").html(message.bidder_name);
    };
    <% for auction in @auctions %>
      PUBNUB.subscribe({
        channel  : "<%= auction.channel_name %>",
        callback : function(message) {
          refreshStats("<%= auction.channel_name %>",message); },
        error    : function(e) {
            // Do not call subscribe() here!
            // PUBNUB will auto-reconnect.
            console.log(e);
        }
      });
    <% end %>
		jQuery("[data-behavior='place_bid_link']").click(function(e){
			jQuery.ajax({
				url: jQuery(this).attr('href'),
				type: 'PUT',
				dataType: 'json',
				success: function(data,textStatus) {
					jQuery('#available_bids').html(data.bid_count);
					if(data.bid_count == 0){
						jQuery("[data-behavior='place_bid_link'][data-auction_id='" + data.auction_id + "']").hide();
						jQuery("[data-behavior='buy_bids_link'][data-auction_id='" + data.auction_id + "']").show();
					}
				}
			});
			return false;
		});
		<% end %>
	});
<% end %>