<div class="auction_detail_wrapper">
  <div class="auction_detail_top">
    similar / recent auctions here
  </div>
  <div class="auction_detail_content">
    <div class="auction_detail_left">
      <span class="auction_detail_name"><%= @auction.item.name %></span><br/>
      <span class="auction_detail_retail">retail: <%= @auction.item.full_price.format %></span><br/>
      <span class="auction_detail_id">Auction ID: <%= @auction.id %></span><br/>
      <img src="<%= @auction.item.content_images.first.image.url(:medium) %>">
    </div>
    <div class="auction_detail_middle">
      <div id="time_left"></div>
      <div id="current_price"></div>
      <div id="highest_bidder"></div>
    </div>
    <div class="auction_detail_right">
      <div id="bid_history" class="auction_detail_bid_history">
      </div>
    </div>
  </div>
  <div class="auction_detail_bottom">
    &nbsp;
  </div>
</div>
<div class="span-8"></div>
<div class="span-8">
	<% if current_user %>
		<% if @this_user.auctions.include? @auction %>
			This auction is in your auctions list.<br/>
		<% else %>
			<%= link_to 'add to my auctions', user_auctions_url + "?auction_id=#{@auction.id}&_method=post" %>
		<% end %>
	<% end %>
	<div class="span-8 last"><div class="span-3">Time Left</div><div id="time_left" class="span-5 last"></div></div>
	<div class="span-8 last"><div class="span-3">Current Price</div><div id="current_price" class="span-5 last"></div></div>
	<div class="span-8 last"><div class="span-3">Highest Bidder</div><div id="highest_bidder" class="span-5 last"></div></div>
</div>
<div class="span-8 last">
	<% if current_user %>
		<div class="span-8 last">
			You have <span id="available_bids"><%= @this_user.bids.available.count %></span> bids available.
		</div>
		<div class="span-8 last">
			<%= link_to 'place a bid', bid_url(@this_user.bids.first, :placed_auction_id => @auction.id), 
		:id => 'place_bid_link', 
		:style => @this_user.bids.available.any? ? '' : 'display:none;'
	 	 %>
			<%= link_to 'buy bids', bids_url, :id => 'buy_bids_link', :style => @this_user.bids.available.empty? ? '' : 'display:none;' %>
		</div>
		<div class="span-8 last">&nbsp;</div>
		<div class="span-8 last" id="bid_history">
			<h3>Bid History</h3>
		</div>
	<% end %>
</div>
<%= javascript_tag do %>
	jQuery(document).ready(function(){
		var tick_count = 0;
		var start_time = new Date().getTime();
		var seconds_left = <%= @auction.time_left_in_seconds %>;
		var timer_handle = 0;
		function resetTimer(seconds){
			tick_count = 0;
			start_time = new Date().getTime();
			seconds_left = seconds;
			clearTimeout(timer_handle)
			updateTimer();
			timer_handle = setTimeout(cycleTimer,1000);
		}
		function updateTimer(){
			jQuery('#time_left').html(humanize_interval(secondsLeft()));
		}
		updateTimer();
		function cycleTimer(){
			tick_count += 1000;
			if(secondsLeft() == 0){
				closeAuction();
				return false;
			}
			slew = (new Date().getTime() - start_time) - tick_count;
			updateTimer();
			timer_handle = setTimeout(cycleTimer,(1000 - slew));
		}
		function secondsLeft(){
			return seconds_left - (tick_count / 1000);
		}
		function closeAuction(){
			clearTimeout(timer_handle);
			jQuery('#place_bid_link').hide();
			jQuery('#time_left').html('CLOSED');
//			jQuery.ajax()
		}
		timer_handle = setTimeout(cycleTimer,1000);
		<% if current_user %>
		function refreshBidHistory(new_history){
			jQuery('#bid_history').append(new_history.user + ': ' + new_history.payload.new_price + '<br/>');
		};
		function refreshStats(frame){
			jQuery('#current_price').html(frame.payload.new_price);
			jQuery('#highest_bidder').html(frame.user);
		};
		refreshStats({payload:{new_price:'<%= @auction.current_price.format %>'},user:'<%= @auction.highest_bidder_name %>'});
		hookbox.logging.get('net.protocols.rtjp').setLevel(hookbox.logging.DEBUG);
		conn = hookbox.connect("<%= HOOKBOX_URL %>");
		conn.onSubscribed = function(channel_name, subscription) {
			if(channel_name == "<%= @auction.channel_name %>"){
				subscription.onPublish = function(frame) {
					resetTimer(frame.payload.time_left);
					refreshStats(frame);
					refreshBidHistory(frame);
				};
	  			for (var i = 0, item; item = subscription.history[i]; ++i) {
				  	var name = item[0];
					var frame = item[1];
					if(name == 'PUBLISH'){
						refreshBidHistory(frame);
					}
			    };
			}
		};
		conn.onClose = function() {
			alert("Connection Lost, please refresh this page");
		};
		conn.subscribe("<%= @auction.channel_name %>");
		jQuery('#place_bid_link').click(function(e){
			jQuery.ajax({
				url: jQuery(e.target).attr('href'),
				type: 'GET',
				dataType: 'json',
				cache: false,
				success: function(data,textStatus) {
					jQuery('#available_bids').html(data.bid_count);
					if(data.bid_count == 0){
						jQuery('#place_bid_link').hide();
						jQuery('#buy_bids_link').show();
					}
				}
			});
			return false;
		});
		<% end %>
	});
<% end %>
<% unless current_user %>
	<%= link_to 'sign in', sign_in_url %> or <%= link_to 'sign_up', sign_up_url %> to join the auction.
<% end %>