<h1><%= @auction.item.name %></h1>
<% if current_user %>
	<div class="span-20">
		You have <span id="available_bids"><%= @this_user.bids.available.count %></span> bids available.
	</div>
	<div id="debugging"></div>
	<%= link_to 'place a bid', bid_url(@this_user.bids.first, :placed_auction_id => @auction.id), 
	:id => 'place_bid_link', 
	:style => @this_user.bids.available.any? ? '' : 'display:none;'
 	 %>
	<%= link_to 'buy bids', bids_url, :id => 'buy_bids_link', :style => @this_user.bids.available.empty? ? '' : 'display:none;' %>
	<% javascript_tag do %>
		$(document).ready(function(){
			$('#place_bid_link').click(function(e){
				$.ajax({
					url: $(e.target).attr('href'),
					type: 'PUT',
					dataType: 'json',
					success: function(data,textStatus) {
						$('#available_bids').html(data.bid_count);
						if(data.bid_count == 0){
							$('#place_bid_link').hide();
							$('#buy_bids_link').show();
						}
					}
				});
				return false;
			});
		});
	<% end %>
<% else %>
	<%= link_to 'sign in', sign_in_url %> or <%= link_to 'sign_up', sign_up_url %> to join the auction.
<% end %>