<div id="account_left_nav"<%= (@my_account_sub_nav != 'my_auctions') ? ' class="border_right"'.html_safe : ''%>>
  <%= link_to 'MY AUCTIONS', my_auctions_url, :class => "quackbaq_font account_left_nav" %><br/>&nbsp;<br/>
  <%= link_to 'MY STATUS', my_status_user_url, :class => "quackbaq_font account_left_nav #{(@my_account_sub_nav == 'my_status') ? 'selected' : ''}" %><br/>&nbsp;<br/>
  <%= link_to 'BIDDING HISTORY', my_auctions_url, :class => "quackbaq_font account_left_nav" %><br/>&nbsp;<br/>
  <%= link_to 'ACCOUNT SETTINGS', account_settings_user_url(@this_user), :class => "quackbaq_font account_left_nav #{(@my_account_sub_nav == 'account_settings') ? 'selected' : ''}" %><br/>&nbsp;<br/>
  <%= link_to 'PAYMENT OPTIONS', payment_options_user_url(@this_user), :class => "quackbaq_font account_left_nav #{(@my_account_sub_nav == 'payment_options') ? 'selected' : ''}" %><br/>
</div>