<div id="account_background" class="payment_form">
  <%= render :partial => 'account_left_nav' %>
  <div id="account_view_content">
    <div id="account_title" class="quackbaq_font purple_font">PAYMENT OPTIONS</div>
    <%= form_for @user do |f| %>
      <div class="shrink_wrap content_border_bottom">
        <div class="payment_box_wrapper left">
          <span class="minor_section_heading">Billing Address</span>
          <div class="payment_box account_gray_background padding_bottom">
            <%= f.fields_for :billing_address do |a| %>
              <div class="payment_form_line">
                <div class="payment_field_name">First Name:<span class="orange_font">*</span></div>
                <%= a.text_field :first_name, :class => 'field_entry' %>
              </div>
              <div class="payment_form_line">
                <div class="payment_field_name">Middle Initial:</div>
                <%= a.text_field :middle_initial, :class => 'field_entry' %>
              </div>
              <div class="payment_form_line">
                <div class="payment_field_name">Last Name:<span class="orange_font">*</span></div>
                <%= a.text_field :last_name, :class => 'field_entry' %>
              </div>
              <div class="payment_form_line">
                <div class="payment_field_name">Address 1:<span class="orange_font">*</span></div>
                <%= a.text_field :address1, :class => 'field_entry' %>
              </div>
              <div class="payment_form_line">
                <div class="payment_field_name">Address 2:</div>
                <%= a.text_field :address2, :class => 'field_entry' %>
              </div>
              <div class="payment_form_line">
                <div class="payment_field_name">Company or C/O:</div>
                <%= a.text_field :company_c_o, :class => 'field_entry' %>
              </div>
              <div class="payment_form_line">
                <div class="payment_field_name">City:<span class="orange_font">*</span></div>
                <%= a.text_field :city, :class => 'field_entry' %>
              </div>
              <div class="payment_form_line">
                <div class="payment_field_name">Zip Code:<span class="orange_font">*</span></div>
                <%= a.text_field :zipcode, :class => 'field_entry' %>
              </div>
              <div class="payment_form_line">
                <div class="payment_field_name">Phone:</div>
                <%= a.text_field :phone, :class => 'field_entry' %>
              </div>
              <div class="payment_form_line">
                <div class="payment_field_name">E-mail Address:<span class="orange_font">*</span></div>
                <%= a.text_field :email, :class => 'field_entry' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="payment_box_wrapper">
          <span class="minor_section_heading">Shipping Address</span>
          <div class="payment_box account_gray_background padding_bottom">
            <div class="payment_form_line non_text">
            <%= f.radio_button :same_address, true, {:checked => true} %> Same as Billing Address<br/>
            </div>
            <div class="payment_form_line non_text">
            <%= f.radio_button :same_address, false %> Add Shipping Address
            </div>
            <div id="shipping_address_form" style="display:none;">
              <%= f.fields_for :shipping_address do |a| %>
                <div class="payment_form_line">
                  <div class="payment_field_name">First Name:<span class="orange_font">*</span></div>
                  <%= a.text_field :first_name, :class => 'field_entry' %>
                </div>
                <div class="payment_form_line">
                  <div class="payment_field_name">Middle Initial:</div>
                  <%= a.text_field :middle_initial, :class => 'field_entry' %>
                </div>
                <div class="payment_form_line">
                  <div class="payment_field_name">Last Name:<span class="orange_font">*</span></div>
                  <%= a.text_field :last_name, :class => 'field_entry' %>
                </div>
                <div class="payment_form_line">
                  <div class="payment_field_name">Address 1:<span class="orange_font">*</span></div>
                  <%= a.text_field :address1, :class => 'field_entry' %>
                </div>
                <div class="payment_form_line">
                  <div class="payment_field_name">Address 2:</div>
                  <%= a.text_field :address2, :class => 'field_entry' %>
                </div>
                <div class="payment_form_line">
                  <div class="payment_field_name">Company or C/O:</div>
                  <%= a.text_field :company_c_o, :class => 'field_entry' %>
                </div>
                <div class="payment_form_line">
                  <div class="payment_field_name">City:<span class="orange_font">*</span></div>
                  <%= a.text_field :city, :class => 'field_entry' %>
                </div>
                <div class="payment_form_line">
                  <div class="payment_field_name">Zip Code:<span class="orange_font">*</span></div>
                  <%= a.text_field :zipcode, :class => 'field_entry' %>
                </div>
                <div class="payment_form_line">
                  <div class="payment_field_name">Phone:</div>
                  <%= a.text_field :phone, :class => 'field_entry' %>
                </div>
                <div class="payment_form_line">
                  <div class="payment_field_name">E-mail Address:<span class="orange_font">*</span></div>
                  <%= a.text_field :email, :class => 'field_entry' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="payment_box_wrapper">
        <span class="minor_section_heading">Credit Card Information</span>
        <div class="payment_box account_gray_background padding_bottom">
          <div class="payment_form_line">
            <div class="payment_field_name">Credit Card:<span class="orange_font">*</span></div>
            <%= select_tag "user[card][type]", options_for_select(CardHolder::CARD_TYPES), :class => 'field_entry' %>
          </div>
          <div class="payment_form_line">
            <div class="payment_field_name">Card Number:<span class="orange_font">*</span></div>
            <%= text_field_tag "user[card][number]", nil, :class => 'field_entry' %>
          </div>
          <div class="payment_form_line">
            <div class="payment_field_name">Expiration Date:<span class="orange_font">*</span></div>
            <%= select_month Date.today, {:field_name => "card[month]", :prefix => 'user'}, {:class => 'field_entry_half'} %> <%= select_year Date.today, {:field_name => "card[year]", :start_year => Date.today.year, :prefix => 'user'},{:class => 'field_entry_half'} %>
          </div>
          <div class="payment_form_line">
            <div class="payment_field_name">Security Code:<span class="orange_font">*</span></div>
            <%= text_field_tag "user[card][cvv]", nil, :class => 'field_entry_half' %> &nbsp; <%= link_to "What's this?", '#' %>
          </div>
          <div class="payment_form_line">
            <%= radio_button_tag "user[card][store]", true, :class => 'field_entry' %> Save this credit card to my account.
          </div>
        </div>
        <br/>&nbsp;<br/>
        <div id="save_settings">
          <div class="button_left">&nbsp;</div>
          <div class="button_middle quackbaq_font" data-button="true" data-submit="true">SAVE SETTINGS</div>
          <div class="button_right">&nbsp;</div>
        </div>
        
      </div>
    <% end %>
  </div>
</div>
<div id="account_background_bottom">&nbsp;</div>
<%= javascript_tag do %>
  jQuery(document).ready(function(){
    jQuery("input[name='user[same_address]']").change(function(e){
      if('true' == jQuery(this).val()){
        jQuery('#shipping_address_form').hide();
      } else {
        jQuery('#shipping_address_form').show();
      }
    })
  })
<% end %>