		<h1><%= t(:new_account_form_heading) %></h1>
		<% form_for @user, :url => users_path(@user) do |f| %>
			<% if @user.errors.any? %> <%= @user.errors.full_messages %> <% end %>
			<%= f.label :email %><br />
			<%= f.text_field :email %><br />
			<br />
			<%= f.label :password %><br />
			<%= f.password_field :password %><br />
			<br />
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %><br />
		  	<%= f.submit "Create My Account" %>
		<% end %>
