<div class="span-24 padding-top-large">
	<div class="span-6">&nbsp;</div>
	<div class="span-14">
		<h1>Reset your password</h1>
		<% form_for @user, :url => user_url(@user.perishable_token) do |f| %>
			<% if @user.errors.any? %> <%= @user.errors.full_messages %> <% end %>
			<%= f.label :password %><br />
			<%= f.password_field :password %><br />
			<br />
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %><br />
			<%= hidden_field_tag :reset_password, true %>
		  	<%= f.submit "Reset" %>
		<% end %>
	</div>
</div>
