<h1>Account Info</h1>
<%= link_to 'edit account info', edit_user_url(@this_user) %><br/>
Name: <%= @this_user.name %><br/>
Age Bracket: <%= @this_user.age_bracket %><br/>
Cell Phone: <%= @this_user.cell_phone %><br/>
Contact Phone: <%= @this_user.contact_phone %><br/>
Gender: <%= @this_user.gender %><br/>
