<!DOCTYPE html>
<html>
<head>
  <title>Quackbaq</title>
  <%= render :partial => '/layouts/base_stylesheets' %>
  <%= render :partial => '/layouts/base_javascripts' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="top-nav">
		<div class="container">
			<div class="span-2 text-center">
				<%= link_to 'Public Site', root_url %>
			</div>
			<div class="span-6 text-center">
				hello <%= @this_user.email %>
				<%= link_to '(sign out)', sign_out_url %>
			</div>
			<div class="span-4 text-center">
				<%= link_to 'Manage Auctions', admin_area_auctions_url %>
			</div>
			<div class="span-4 text-center">
				<%= link_to 'Manage Items', admin_area_items_url %>
			</div>
			<div class="span-4 text-center">
			</div>
			<div class="span-4 last text-center">
			</div>
		</div>
		<hr/>
	</div>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
