<!-- All Code Copyright 2008 Eric Draut all rights reserved -->
<% content_element = show_image %>
<div class="content_element_content">
<div><% if content_element.class.delayed_processing? and content_element.processing? %> This <%= content_element.class.human_name %> is still being processed, check back shortly to see your new thumbnails.<% else %> <%= image_tag content_element.image.url(:medium) %> <% end %></div>
<div><%= content_element.body %></div>
</div>
<div class="content_element_controls">
<%= link_to 'get full size', admin_area_content_element_url(content_element) + '?full_page=true', :target => '_blank' %>
<%= link_to 'edit caption', edit_admin_area_content_element_url(content_element),
	:'data-ajax_behavior' => 'ajax_link',
	:'data-ajax_method' => 'GET',
	:'data-ajax_success_element' => "content_element_#{content_element.id}",
	:'data-ajax_success_callback' => "jQuery('#content_element_#{content_element.id}').addClass('editing');" %>
<%= link_to image_tag('delete_can.png'), admin_area_content_element_url(content_element),
	:'data-ajax_behavior' => 'ajax_link',
	:'data-ajax_method' => 'DELETE',
	:'data-ajax_success_callback' => "jQuery('#content_element_#{content_element.id}').remove();",
	:'data-ajax_confirm' => 'Are you sure you want to delete this image?' %>
</div>
<% if content_element.class.delayed_processing? and content_element.processing? %>
hello!
<%= javascript_tag do %>
	jQuery(document).ready(function(){
		setTimeout("checkForFinishedImage(<%= content_element.id %>)",30000);
	});
<% end %>
<% end %>