<!DOCTYPE html>
<html>
<head>
  <title>Quackbaq</title>
  <%= render :partial => '/layouts/base_javascripts' %>
  <%= render :partial => '/layouts/base_stylesheets' %>
  <%= csrf_meta_tag %>
  <!--
  /* @license
   * MyFonts Webfont Build ID 2029967, 2012-01-29T19:44:23-0500
   * 
   * The fonts listed in this notice are subject to the End User License
   * Agreement(s) entered into by the website owner. All other parties are 
   * explicitly restricted from using the Licensed Webfonts(s).
   * 
   * You may obtain a valid license at the URLs below.
   * 
   * Webfont: Korolev Condensed Medium by Device
   * URL: http://www.myfonts.com/fonts/device/korolev/condensed-medium/
   * Copyright: Copyright (c) 2010 by Rian Hughes / Device. All rights reserved.
   * Licensed pageviews: 10,000
   * 
   * 
   * License: http://www.myfonts.com/viewlicense?type=web&buildid=2029967
   * 
   * © 2012 Bitstream Inc
  */

  -->

</head>
<body class="quackbaq">
	<div class="container nav">
  	<div class="top_nav">
  	  <div class="top_logo">
    	  <%= link_to (image_tag 'QB-Logo.png'), root_url %>
    	</div>
  	  <% if current_user %>
    		<div class="top_right_nav">
          <div id="credit_info">
            <div id="credits_left">
              Remaining Credits: &nbsp;&nbsp;<span id="remaining_credits_amount"><%= @this_user.bids.available.count %></span>
            </div>
            <div id="buy_credits_button" class="button orange">
              <div class="button_left">&nbsp;</div>
              <div class="button_middle quackbaq_font" data-button="true" href="<%= bids_url %>" onclick="void(0)">BUY CREDITS</div>
              <div class="button_right">&nbsp;</div>
            </div>
          </div>
          <div id="top_nav">
            <div class="top_nav_button <% if @nav_tab == 'my_account' %>selected<% end %>"><%= link_to 'MY ACCOUNT', account_settings_user_url(@this_user) %></div>
            <div class="top_nav_divider">&nbsp;</div>
            <div class="top_nav_button <% if @nav_tab == 'how_it_works' %>selected<% end %>"><%= link_to 'HOW IT WORKS', '#' %></div>
            <div class="top_nav_divider">&nbsp;</div>
            <div class="top_nav_button <% if @nav_tab == 'quackpond' %>selected<% end %>"><%= link_to 'QUACKPOND', '#' %></div>
            <div class="top_nav_divider">&nbsp;</div>
            <div class="top_nav_button <% if @nav_tab == 'help' %>selected<% end %>"><%= link_to 'HELP', '#' %></div>
          </div>
          <!-- <div class="span-2 text-center">
            <%= link_to 'Home', root_url %>
          </div>
          <div class="span-6 text-center">
            <% if current_user %>
              hello <%= @this_user.email %>
              <%= link_to '(sign out)', sign_out_url %>
            <% else %>
              <%= link_to 'Sign Up', sign_up_url %> or
              <%= link_to 'Sign in', sign_in_url %>
            <% end %>
          </div>
          <div class="span-4 text-center">
            <% if current_user %>
              <%= link_to t(:my_auctions_link), my_auctions_url %>
            <% else %>
              &nbsp;
            <% end %>
          </div>
          <div class="span-4 text-center">
            <% if current_user %>
              <%= link_to 'My Bids', bids_url %>
            <% else %>
              &nbsp;
            <% end %>
          </div>
          <div class="span-4 text-center">
            <% if current_user %>
              <%= link_to 'My Account', user_url(@this_user) %>
            <% else %>
              &nbsp;
            <% end %>
          </div>
          <div class="span-4 last text-center">
            <% if current_user and current_user.is_a? Admin %>
              <%= link_to 'Dashboard', admin_area_dashboard_url %>
            <% end %>
          </div> -->
    		</div>
  		<% else %>
        &nbsp;
  		<% end %>
  	</div>
	  <% if current_user and controller_name == 'auctions' and !['my','my_bid_history','my_won','my_bid'].include? action_name %>
      <div id="category_nav">
        <div class="span-22 last">&nbsp;</div>
        <% Category.ordered.each_with_index do |category,index| %>
          <div class="category_list_item_wide <% if @category.id == category.id %>selected<% end %> <% if Category.count == (index + 1) %> last<% end %>" data-button="true" href="<%= auctions_url(:category_id => category.id) %>">
            <div class="category_image" data-id="<%= category.id %>">
              <div class="category_image_inner">
                <%= image_tag category.image.url(:wide) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div id="category_bar_content">
        <% Category.ordered.each_with_index do |category,index| %>
          <div class="category_info <% if @category.id == category.id %> selected<% end %>" <% unless @category.id == category.id %> style="display:none;"<% end %> data-id="<%= category.id %>">
            <div class="category_button" >
              <div class="button_left">&nbsp;</div>
              <div class="button_middle quackbaq_font" data-button="true" href="<%= category_url(category) %>" onclick="void(0)"><%= category.name.upcase %></div>
              <div class="button_right">&nbsp;</div>
            </div>
            <div id="category_description">
              <%= category.description %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
      <% if @category %>
        <div id="category_bar">
          &nbsp;
        </div>
      <% end %>
    <% else %>
      <div id="category_nav">
        <div class="span-22 last">&nbsp;</div>
        <% Category.ordered.each_with_index do |category,index| %>
          <div class="category_list_item_wide <% if Category.count == (index + 1) %> last<% end %>">
            <div class="category_image">
              <div class="category_image_inner">
                <%= image_tag category.image.url(:wide) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="horiz_bar">&nbsp;</div>
    <% end %>
  <div class="container quackbaq">
		<%= yield %>
	</div>
	<div id="footer">
	  <div class="container">
      <div class="span-18 text_links">
        <%= link_to 'Home', root_url %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to 'About', '#' %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to 'Support', '#' %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to 'Privacy Policy', '#' %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to 'Terms & Conditions', '#' %><% if current_user and current_user.is_a? Admin %>
           &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to 'Dashboard', admin_area_dashboard_url %>
        <% end %>
        
      </div>
      <div class="span-1 prepend-4">
        <%= link_to image_tag('twitter.png') %>
      </div>
      <div class="span-1 last">
        <%= link_to image_tag('facebook.jpg') %>
      </div>
    </div>
	</div>
	<%= javascript_tag do %>
		jQuery(document).ready(function(){
    	jQuery("#credits_left").corner("4px");
    	jQuery('.category_image').hover(
    	  function(){
    	    jQuery(".category_info.selected").hide();
    	    jQuery(".category_info[data-id='" + jQuery(this).data('id') + "']").show();
    	  },
    	  function(){
    	    jQuery(".category_info[data-id='" + jQuery(this).data('id') + "']").hide();
    	    jQuery(".category_info.selected").show();
    	  }
    	)
  		<% unless flash[:notice].blank? %>
  			function clearFlash(){
  				jQuery('#flash_notice').fadeOut(1000);
  			}
  			jQuery('#top_nav_divider').after('<div id="flash_notice" style="display:none;" class="flash_notice"><%= flash[:notice] %></div>');
  			jQuery('#flash_notice').fadeIn(500);
  			setTimeout(clearFlash,3000);
  		<% end %>
		});
	<% end %>
  <div id="body_bottom">&nbsp;</div>

</body>
</html>
