<!DOCTYPE html>
<html>
<head>
  <title>Quackbaq</title>
  <%= render :partial => '/layouts/base_javascripts' %>
  <%= render :partial => '/layouts/base_stylesheets' %>
  <%= csrf_meta_tag %>
  <% if @hookbox %>
 	<script src="<%= HOOKBOX_URL %>/static/hookbox.js"></script>
  <% end %>
</head>
<body>
	<div class="top_nav">
	  <% if current_user %>
		<div class="top_right_nav">
		  stuff here
      <!-- <div class="span-2 text-center">
        <%= link_to 'Home', root_url %>
      </div>
      <div class="span-6 text-center">
        <% if current_user %>
          hello <%= @this_user.email %>
          <%= link_to '(sign out)', sign_out_url %>
        <% else %>
          <%= link_to 'Sign Up', sign_up_url %> or
          <%= link_to 'Sign in', sign_in_url %>
        <% end %>
      </div>
      <div class="span-4 text-center">
        <% if current_user %>
          <%= link_to t(:my_auctions_link), my_auctions_url %>
        <% else %>
          &nbsp;
        <% end %>
      </div>
      <div class="span-4 text-center">
        <% if current_user %>
          <%= link_to 'My Bids', bids_url %>
        <% else %>
          &nbsp;
        <% end %>
      </div>
      <div class="span-4 text-center">
        <% if current_user %>
          <%= link_to 'My Account', user_url(@this_user) %>
        <% else %>
          &nbsp;
        <% end %>
      </div>
      <div class="span-4 last text-center">
        <% if current_user and current_user.is_a? Admin %>
          <%= link_to 'Dashboard', admin_area_dashboard_url %>
        <% end %>
      </div> -->
		</div>
		<% else %>
    &nbsp;
		<% end %>
	</div>
	<div class="container quackbaq">
	  <div class="top_logo">
  	  <%= image_tag 'QB-Logo.png' %>
  	</div>

		<%= yield %>
	</div>
	<div id="footer">
	  <div class="container">
      <div class="span-18 text_links">
        <%= link_to 'Home', root_url %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to 'About', '#' %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to 'Support', '#' %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to 'Privacy Policy', '#' %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to 'Terms & Conditions', '#' %>
      </div>
      <div class="span-1 prepend-4">
        <%= link_to image_tag('twitter.png') %>
      </div>
      <div class="span-1 last">
        <%= link_to image_tag('facebook.jpg') %>
      </div>
    </div>
	</div>
	<%= javascript_tag do %>
		jQuery(document).ready(function(){
		<% unless flash[:notice].blank? %>
			function clearFlash(){
				jQuery('#flash_notice').fadeOut(1000);
			}
			jQuery('#top_nav_divider').after('<div id="flash_notice" style="display:none;" class="flash_notice"><%= flash[:notice] %></div>');
			jQuery('#flash_notice').fadeIn(500);
			setTimeout(clearFlash,3000);
		<% end %>
		});
	<% end %>
</body>
</html>
